/*CSS Reset*/
/*Allows to easily manipulate the sizes and positioning of elements*/
*{
	margin: 0;
	padding: 0;
	box sizing:border-box;
}

body {
	font-family: 'Open sans1', sans-serif;
}

/*navigation bar*/


nav {
	padding: 1rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin*/


nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}



#intro {
	padding-left:  10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom:3rem ;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 50px;
	font-size: 1rem;
	padding: 1rem;
}

/*succeed info section*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1 rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align:top;
	min-height: 175px;
	width:30%;
	margin-left:0.5;
	margin-right: 0.5;
}


footer {
	padding: 0.7rem;
	text-align: center;

}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer .card {
	display: inline-block;
	min-height: 80px;
	width:10%;
	margin-left:5rem;
	margin-right: 5rem;

	
}

.header {
	text-align: left;
}

	
#pre-footer {
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: skyblue;
}
